#tab_bar {
    background-color: lightgrey;
}

/* Dialer tab */

#dialerTab {
    margin-left: 10px;
}

#mainContent {
    margin-left: 15px;
}

#dialNumberInput {
    width: 315px;
    text-align: center;
    transition: : .5s ease;
}

.keypadGrid {
    margin-top: 20px;
    height: 280px;
    width: 315px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px 10px;
}
.dialAndClearGrid {
    margin-top: 10px;
    height: 60px;
    width: 315px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
}

.one, .two, .three,
.four, .five, .six,
.seven, .eight, .nine,
.asterisk, .zero, .octothorp {
    /* TODO: vertical text alignment using CSS grid, not this hack */
    padding: 1.4em 2.8em;
    margin: auto;
}

.dial, .clear {
    /* TODO: vertical text alignment using CSS grid, not this hack */
    padding: 1.4em 3.8em;
    margin: auto;
}
.dial {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.clear {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

/* Contact List tab */

#contactList {
    display: inline-block;
    margin-top: 1em;
    max-width: 420px;
}
#contactList .pure-button {
    margin: 5px 0 !important;
}

/* Add Contact tab */

#addContactContent .textBox {
    width: 250px;
    margin-bottom: 2em !important;
}

#successMessage {
    color: green;
    visibility: hidden;
    font-style: italic;
}

/* Gesture Practice tab */

#gesture_output {
    height: 40px;
    width: 200px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-align: center;
}

#gesture_area {
    margin-top: 1.5em;
    border-width: thin;
    border-style: solid;
    border-color: black;
    width: 300px;
    height: 300px;
    background-color: silver;
}
