body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px;
}

.legend, #legend {
    display: none !important;
}

#alert {
    border: 1px solid black;
    background: yellow;
    padding: 5px;
    display: none;
}
